.WeatherHighlight__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
    background-color: var(--primary--color);
    width: 100%;
    max-height: 12.75rem;
    padding: 1.5rem;
}
.WeatherHighlight__container > * {
    text-align: center;
}
.WeatherHighlight__container>h3 {
    font-weight: var(--font-weight--medium);
}

.WeatherHighlight__container>p {
    padding: 0;
    font-size: 4rem;
    font-weight: var(--font-weight--semibold);
    margin: 1rem 0;
}

.WeatherHighlight__container>p>span {
    font-size: 2.25rem;
    margin: 0;
    font-weight: var(--font-weight--medium);
}

@media (max-width:375px) {
    .WeatherHighlight__container>p {
        font-size: 2.5rem;
        text-align: center;
    }
}


@media (min-width:768px) {
    .WeatherHighlight__container {
        margin: 0;
        width: 100%;
        max-width: 100%;
        
    }
}