.left-panel {
    top: -10px;
    flex-direction: column;
    background-color: var(--primary--color);
    background-image: url('../../assets/images/clouds.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 2rem;
    background-size: auto;
    padding: 2.625rem 1rem;
    min-width: 150px;
}

.left-panel__buttons {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 40px;
    margin: 0 auto;
}

.left-panel__weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.left-panel__weather--img {
    display: flex;
    width: auto;
    margin: auto;
    height: 100%;
}

.left-panel__weather--info {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-bottom: 1rem;
    text-align: center;
}

.weather--temperature {
    text-align: center;
    font-weight: 600;
    font-size: 9rem;
    margin-bottom: 2rem;
    line-height: auto;
}

.weather--temperature span {
    font-size: 3rem;
    font-weight: 600;
    color: var(--comet--color);
}

.weather--data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather--data p {
    margin-top: 2rem;
    color: var(--comet--color)
}

.weather--status {
    font-size: 2.25rem;
    font-weight: var(--font-weight--semibold);
    line-height: 2.64125rem;
}

.weather--data {
    font-size: 1.1rem;
    font-weight: var(--font-weight--medium);
    word-spacing: 0.5rem;
}

.weather--location {
    font-weight: 600;
    line-height: 1.2rem;
    display: flex;
    margin: auto;
    align-items: center;
}

.weather--location span {
    width: 100%;
}

.weather--location span img {
    object-fit: cover;
}

@media (min-width:1200px) {
    .left-panel {
        display: flex;
        flex-direction: column;
        max-width: 28rem;
        width: 33%;
        min-height: 100vh;
    }
    .left-panel__weather {
        max-height: 50rem;
    }
}

@media(max-width:1200px) {
    .left-panel {
        height: 810px;
    }
    .left-panel__weather--info {
        margin-bottom: 5rem;
    }
}