.WeekWeather {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    justify-items: center;
    margin: 2.25rem;
    width: auto;
}

@media (max-width:340px) {
    .WeekWeather {
        display: flex;
        flex-direction: column;
        margin: 2rem;
        width:auto;
    }
}

@media (min-width:1200px) {
    .WeekWeather {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
}