.temperature-buttons {
    display: none;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

footer>p {
    font-weight: var(--font-weight--medium);
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

@media (min-width:1200px) {
    main {
        display: flex;
        justify-content: center;
        margin: 2.625rem auto 0rem auto;
        width: 66%;
    }
    .temperature-buttons {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 3rem;
    }
    main>div {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 44rem;
    }
    footer>p {
        margin: 0;
    }
}