.Weather-Highlights__section--title {
    font-size: 1.4rem;
    margin: auto 1.4375rem;
}

.Weather-Highlights__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1.4375rem;
}

@media (min-width:768px) {
    .Weather-Highlights__container {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 12.75rem 9.9375rem;
        grid-gap: 3rem;
        width: auto;
    }
    .Weather-Highlights__section--title {
        margin: 2rem;
    }
}

@media (min-width:1200px) {
    .Weather-Highlights__container {
        margin: auto;
    }
    .Weather-Highlights__section--title {
        margin: 2rem auto;
    }
}