.Weather-Highlights__section--title {
    margin: auto 1.4375rem;
}

@media (min-width:1200px) {
    .Weather-Highlights__container{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:repeat(2,1fr);
        margin:auto;
    }
}