@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;700&display=swap');
:root {
    --main-bg-color: #100e1d;
    --primary--color: #1e213a;
    --light--color: #e7e7eb;
    --gray--color: #6e707a;
    --palatine--color: #3c47e9;
    --comet--color: #A09FB1;
    --font--primary: 'Raleway', sans-serif;
    --font-weight--medium: 500;
    --font-weight--semibold: 600;
    --font-weight--bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font--primary);
    background-color: var(--main-bg-color);
    color: var(--light--color);
}